<div v-if="comments">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h6>Comment Lists</h6>
        <button type="button" class="btn btn-sm btn-outline-secondary" v-bind:cardID='cardID' @click="toggle()">Add Comment</button>
    </div>
    <div v-if="isShow">
        <commentform-component v-bind:cardID="cardID"></commentform-component>
    </div>
    <ul v-for="comment in comments">
        <li class="card-body" v-bind:commentID="comment.id">Comment: {{comment.content}}</li>
    </ul>
</div>